* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem 2rem;
  background-color: black;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left h3 {
  color: turquoise;
}

.logo {
  height: 50px;
  width: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  height: 570px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form h2 {
  margin-bottom: 0.6rem;
}

.input-display {
  margin: 2rem;
  background: rgb(221, 145, 4);
  color: white;
  max-width: 400px;
  border-radius: 10px;
}

.input-display h2,
p {
  padding: 1rem;
}

.display {
  padding: 0.5rem;
}

input {
  display: block;
  padding: 0.6rem;
  margin: 0.5rem;
  width: 90%;
  border-radius: 5px;
}

fieldset {
  width: 90%;
  border-radius: 5px;
}
fieldset input {
  width: auto;
  display: inline;
}

textarea {
  max-width: 90%;
  min-width: 90%;
  height: 400px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
}

.btn {
  margin: 1rem;
  padding: 0.5rem 0.8rem;
  width: 100px;
  border-radius: 5px;
  outline: none;
  color: white;
  border: none;
  background-color: orangered;
}

@media screen and (max-width: 435px) {
  .logo {
    height: 30px;
    width: 30px;
  }

  .left h3 {
    font-size: 0.8rem;
  }

  .right h4 {
    font-size: 0.7rem;
  }
  form {
    height: 570px;
    width: 300px;
  }

  input,
  fieldset {
    width: 100%;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
